/* Reset CSS (JANGAN DIHAPUS) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

header{
  height: 90px ;
  background-color: #26d0c9;
  color:white;
}/* Ketik code Anda dibawah */

.header-logo{
  font-size:36px;
  float:left;
  padding: 20px 40px;
}

.header-list li{
  float:left;
  padding: 33px 20px;
}
main{
  padding-left:80px;
  padding-right:80px;
  padding-top:100px;
}

.copy-container h1{
  font-size:140px;
}

.copy-container h2{
  font-size:60px;
}

span{
  color:#ff4a4a;
}

.contents h3{
  font-size:28px;
  border-bottom: 2px solid #dee7ec;
  padding-bottom:15px;
  margin-bottom:50px;
}
.contents{
  height:500px;
  margin-bottom:100px;
  margin-top:100px;
}

.contents-item{
  float:left;
  margin-right:40px;
}

.contents-item p{
  font-size:24px;
}

.contact-form{
  margin-bottom:100px;
}

.contact-form h3{
  font-size:28px;
  padding-bottom: 15px;
  border-bottom: 2px solid #dee7ec;
  margin-bottom:50px;
}

.contact-form p{
  margin-bottom:10px;
}

input, textarea{
  border: 1px solid #dee7ec;
  padding:20px;
  margin-bottom:30px;
  font-size:18px;
  width:400px;
}

.btn-submit{
  color:#dee7ec;
  color:#889eab;
}
footer{
  height:120px;
  padding:40px;
  color:white;
  background-color:#2f5167;
}

.footer-logo{
  font-size:32px;
  float:left;
}

.footer-list li{
margin-bottom:20px;
}

.footer-list{
  float:right;
}
